
@mixin flex-r {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}

@mixin flex-c {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

@mixin svg-s {
    width: 80px;
    height: 80px;
}
@mixin svg-sml {
    width: 120px;
    height: 120px;
}
@mixin svg-xl {
    width: 240px;
    height: 240px;
}