<div class="container">

    <div class="cards first">
        <div class="svg_block">
            <div>
                <img src="./img/svg/laptop.svg" alt="laptop" class="svg">
            </div>
        </div>

        <div class="text">
            <div class="additional_text">
                <div>PRODUCTIVITY</div>
                <div>3 days ago</div>
            </div>
            
            <div class="gap">
                <div class="heading_text">7 Skills of Highly Effective Programmers</div>

                <div class="none">
                    <div class="small_text">
                        Our team was inspired by the seven skills of highly effective programmers created by the TechLead.
                        We wanted to provide
                        our own take on the topic...
                    </div>
                    <div class="big_text">
                        Our team was inspired by the seven skills of highly effective programmers created by the TechLead.
                        We wanted to provide
                        our own take on the topic. Here are our seven skills of effective programmers...
                    </div>
                    <div class="avatar_block">
                        <div class="avatar">
                            <div>
                                <div class="avatar_small"><img src="./img/big/avatar_two-s.png" alt="avatar" class="avatar_img"></div>
                                <div class="avatar_big"><img src="./img/big/avatar_two.png" alt="avatar" class="avatar_img"></div>
                                
                            </div>
                            <!-- <div class="avatar_img first_avatar">
                                
                            </div> -->
                            <div>Glen Williams</div>
                        </div>
                        <div>Read more 🡢</div>
                    </div>
                </div>
            </div>

        </div>
    </div>


    <div class="cards next">
        <div class="svg_block">
            <div>
                <img src="./img/svg/media.svg" alt="media" class="svg">
            </div>
        </div>

        <div class="text">
            <div class="additional_text">
                <div>MEDIA</div>
                <div>17 days ago</div>
            </div>
            <div class="gap">
                <div class="heading_text">SMM starter pack, part 2: content promotion</div>

                <div class="none">
                    <div class="small_text">This is the second part of the SMM starter pack series of articles. If you made
                        it this far, you must be willing to
                        learn about promoting business through social media.</div>
                    <div class="big_text">This is the second part of the SMM starter pack series of articles. If you made it
                        this far, you must be willing to
                        learn about promoting business through social media.</div>
                    <div class="avatar_block">
                        <div class="avatar">
                            <div>
                                <div class="avatar_small"><img src="./img/big/avatar-one-s.png" alt="avatar" class="avatar_img"></div>
                                <div class="avatar_big"><img src="./img/big/avatar_one.png" alt="avatar" class="avatar_img"></div>

                            </div>
                            <!-- <div class="avatar_img next_avatar">
                            
                            </div> -->
                            <div>Patricia Kemp</div>
                        </div>
                        <div>Read more 🡢</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="cards third">
        <div class="svg_block">
            <div>
                <img src="./img/svg/business.svg" alt="busines" class="svg">
            </div>
        </div>
        <div class="text">
            <div class="additional_text">
                <div>BUSINESS</div>
                <div>1 month ago</div>
            </div>
            <div class="gap">
                <div class="heading_text">11 Things I Wish I Knew When I Started My...</div>

                <div class="none">
                    <div class="small_text">Here are 11 things I wish I knew when I started my business. I hope they will
                        save you some time and some anguish
                        because (experience is a good teacher here)...</div>
                    <div class="big_text">Here are 11 things I wish I knew when I started my business. I hope they will save
                        you some time and some anguish
                        because (experience is a good teacher here) the sodium from your tears acts as a corrosive melting
                        agent...</div>
                    <div class="avatar_block">
                        <div class="avatar">
                            <div>
                                <div class="avatar_small"><img src="./img/big/avatar_three-s.png" alt="avatar"></div>
                                
                                <div class="avatar_big"><img src="./img/big/avatar_three.png" alt="avatar"></div>
                            </div>
                            <!-- <div class="avatar_img third_avatar">
                            
                            </div> -->
                            <div>Lisa Barnes</div>
                        </div>
                        <div>Read more 🡢</div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>