$background: #DBDBDB;
$background-fc: #BCD1FF;
$background-nc: linear-gradient(135deg, #F395BA 0%, #FED182 100%);
$background-tc: #D2EBF7;
$background-card: #fff;

$borderRadius16: 16px;
$borderRadius16-0-0-16: 16px 0px 0px 16px;

$heading-text: #081F32;
$body-text: #374A59;

$blue: #007AE9;
$grey: #6E798C;

$s-height: 130px;
$s-width: 400px;





